<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="!firstSlide">
      <ion-button (click)="backToPreviousSlide()" class="custom-back-button">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>FLUSTER</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [attr.role]="isAdSelected ? 'ad' : ''" [scrollY]="false" padding>

  <ion-slides #firstChoiceSlider pager="false" [options]="slideOptsOnlyExternal">

    <ion-slide>
      <div class="flex-content big-screen-content">
        <ion-grid class="flex-grid">
          <ion-row>
            <ion-col size="12">
              <h1 text-center padding-top>{{'FIRST_CHOICE.LETS_GO' | translate}}</h1>

              <h2 text-center padding-top>{{'FIRST_CHOICE.WHAT_DO_YOU_WANT_TO_DO' | translate}}</h2>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6" text-center>
              <app-big-button (clicked)="browse()"
                              [bigButtonItem]="!isAdSelected" [bigButtonAds]="isAdSelected" [bigButtonEnabled]="isBrowseSelected" [bigButtonDisabled]="isAdSelected && !isBrowseSelected"
                              [icon]="'search'" [label]="'FIRST_CHOICE.DISCOVER'">
              </app-big-button>
            </ion-col>

            <ion-col size="6" text-center>
              <app-big-button (clicked)="ads()"
                              [bigButtonItem]="!isAdSelected" [adDisplay]="isAdSelected" [bigButtonAds]="isAdSelected" [bigButtonActivated]="isAdSelected" [bigButtonDisabled]="!isAdSelected && isBrowseSelected"
                              [iconIos]="'md-create'" [iconMd]="'md-create'" [label]="'FIRST_CHOICE.ADVERTISE'">
              </app-big-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" text-center>
              <!-- Nothing -->
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="flex-content big-screen-content">
        <ion-grid class="flex-grid">
          <ion-row>
            <ion-col size="12">
              <h1 text-center padding-top>{{'FIRST_CHOICE.GENDER.YOU_ARE' | translate}}</h1>

              <h2 text-center padding-top>{{'FIRST_CHOICE.GENDER.WHY_GENDER' | translate}}</h2>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6" text-center>
              <app-big-button (clicked)="browseMale()"
                              [bigButtonItem]="true" [bigButtonEnabled]="genderMaleSelected" [bigButtonDisabled]="(genderFemaleSelected && !genderMaleSelected) || genderUnknowSelected"
                              [iconSrc]="!genderMaleSelected && !genderFemaleSelected ? 'assets/img/ico_man-dark-blue.svg' : 'assets/img/ico_man-white.svg'" [label]="'FIRST_CHOICE.GENDER.MALE'">
              </app-big-button>
            </ion-col>

            <ion-col size="6" text-center>
              <app-big-button (clicked)="browseFemale()"
                              [bigButtonItem]="true" [bigButtonEnabled]="genderFemaleSelected" [bigButtonDisabled]="(!genderFemaleSelected && genderMaleSelected) || genderUnknowSelected"
                              [iconSrc]="!genderFemaleSelected && !genderMaleSelected ? 'assets/img/ico_woman-dark-blue.svg' : 'assets/img/ico_woman-white.svg'" [label]="'FIRST_CHOICE.GENDER.FEMALE'">
              </app-big-button>
            </ion-col>
          </ion-row>

          <ion-row class="flex-end">
            <ion-col size="12" text-center>
              <a id="withoutgender" (click)="browseUnknown()" padding-bottom [class.selected]="genderUnknowSelected">{{'FIRST_CHOICE.GENDER.UNKNOWN' | translate}}</a>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-slide>

  </ion-slides>
</ion-content>
