@import "../../../../theme/media-queries";
@import "../../../../theme/mixins";
@import "../../../../theme/fluster-variables";

ion-content h2[text-center] {
    @include iphone4 {
        font-size: $fluster-text-normal;
    }

    @include iphone5 {
        font-size: $fluster-text-normal;
    }
}

div.scroll-content {
    div.scroll-zoom-wrapper {
        // Solution for weird small white line around today's div in scroller
        position: relative;
    }
}

#rescheduleAppointments {
    height: 100%;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div.date-picker-actions {
    z-index: 1;
}