<app-item-appointments-date-picker *ngIf="hasItemAppointment()" [advertiserDates]="initScheduledDates?.advertiserDates"
                                   [unavailableAppointmentDates]="initScheduledDates?.unavailableAppointmentDates"
                                   [rejectedAppointmentDates]="initScheduledDates?.rejectedAppointmentDates"
                                   [prefillAppointmentsStartTimes]="initScheduledDates?.previousSelectedAppointmentsStartTimes"
                                   [itemUser]="item?.user"
                                   (notifiySelected)="schedule($event)"></app-item-appointments-date-picker>
