@import "../../../../../theme/fluster-variables";
@import "../../../../../theme/spinner";

ion-item {

  &.avatarCancelled {
    ion-avatar {
      img {
        opacity: 0.4;
      }
    }
  }

  p {
    font-weight: $font-weight-light;

    &.new {
      color: $fluster-peach3;
    }

    &.accepted {
      color: $fluster-peach1;
    }

    &.cancelled {
      color: $fluster-grey-blue;
    }

    &.to-reschedule {
      color: $fluster-peach2;
    }
  }
}

button.applicantActionNeeded {
  ion-icon {
    color: $fluster-peach3;
  }
}

#nothingYetText {
  color: $fluster-grey-blue;
}