@import "../../../../theme/media-queries";
@import "../../../../theme/mixins";

.new-ad-container {
  height: 100%;
}

.new-ad-content {
  min-height: 100%;
  height: auto;
  margin-bottom: -118px;

  &:after {
    content: "";
    display: block;
  }
}

.new-ad-buttons, .new-ad-content:after {
  height: 118px;
}

@include iphoneX {
  .new-ad-content {
    margin-bottom: -136px;
  }

  .new-ad-buttons, .new-ad-content:after {
    height: 136px;
  }

  .flex-content ion-row.flex-end ion-col {
    padding-bottom: 18px;
  }
}

.new-ad-buttons-flex {
  margin-bottom: 28px;
  width: 100%;
}

.new-ad-buttons {
  ion-button {
    width: 100%;
    margin-bottom: 16px;
  }

  div.spacer {
    min-height: 32px;
    height: 32px;
  }
}
