<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-title>{{'MENU.BROWSE.MY_APPLICANTS' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content role="browse" [fullscreen]="true">

  <app-content-browse-notification [displayOnInit]="false"></app-content-browse-notification>

  <app-no-items [items]="itemCards" [loading]="!loaded" [label]="couldViewApplicants ? 'MY_APPLICANTS.NO_APPLICANTS' : 'MY_APPLICANTS.NEED_SUBSCRIPTION'" (notifyAction)="initItems()"></app-no-items>

  <div *ngIf="hasItems()" class="big-screen-content">

    <ion-card *ngFor="let itemCard of itemCards | orderItemsByApplicantStatus; let i=index;" class="my-item" no-shadow [class.unavailable]="!itemStillAvalaible(itemCard.item) || isApplicantStatusCancelled(itemCard.item) || isApplicantStatusRejected(itemCard.item)" tappable (click)="navigateCard(itemCard, '/my-applicants')">
      <ion-item text-wrap>
        <ion-avatar slot="start" class="big-avatar">
          <app-user-profile-img-list [facebook]="itemCard.item.user.facebook" [google]="itemCard.item.user.google" [starred]="isItemStarred(itemCard)"></app-user-profile-img-list>
        </ion-avatar>

        <ion-label>
          <h1 [class.cancelled]="isApplicantStatusCancelled(itemCard.item)">{{itemCard.item.user.facebook.firstName}}</h1>

          <div *ngIf="isApplicantStatusSelected(itemCard.item)" class="unavailable-text">{{'MY_APPOINTMENTS.ITEM_WIN' | translate}}</div>
          <div *ngIf="isApplicantStatusToReschedule(itemCard.item) && itemStillAvalaible(itemCard.item)" class="to-reschedule">{{'MY_APPLICANTS.STATUS.TO_RESCHEDULE' | translate}}</div>

          <div *ngIf="isApplicantStatusNew(itemCard.item)" class="new">
            {{'MY_APPLICANTS.STATUS.NEW' | translate}}
            <img src="assets/img/ico_envelope-medium-grey.svg" *ngIf="itemCard.itemNotificationUnread">
            <img src="assets/img/ico_envelope-open-peach3.svg" *ngIf="!itemCard.itemNotificationUnread">
          </div>
          <div *ngIf="isApplicantStatusAccepted(itemCard.item)" class="accepted">{{'MY_APPLICANTS.STATUS.ACCEPTED' | translate}}</div>
          <div *ngIf="isApplicantStatusCancelled(itemCard.item)" class="cancelled">{{'MY_APPLICANTS.STATUS.CANCELLED' | translate}}</div>

          <div *ngIf="isApplicantStatusRejected(itemCard.item)" class="cancelled">{{'MY_APPOINTMENTS.ITEM_NOT_PUBLISHED_ANYMORE' | translate}}</div>

          <app-list-chat-notifications slot="end" [user]="itemCard.item.user"></app-list-chat-notifications>
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-infinite-scroll
            *ngIf="!isLastPageReached()"
            (ionInfinite)="findNextItems($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

</ion-content>
