<div padding-start padding-end class="sticky-container big-screen-content">
    <div class="sticky-content" (swipe)="swipeSlide($event)">
        <h1 text-center class="padding-top-small">{{'NEW_AD.STEP_LIFESTYLE.TITLE' | translate}}</h1>

        <h2 text-center>{{'NEW_AD.STEP_LIFESTYLE.SUB_TITLE' | translate}}</h2>

        <div *ngIf="user != null" class="padding-top-small">
            <app-list-lifestyle-hobbies [user]="user" [adDisplay]="true"></app-list-lifestyle-hobbies>
        </div>
    </div>

    <div class="sticky-buttons" (swipe)="swipeSlide($event)">

        <div class="spacer"></div>

        <ion-button expand="full" shape="round" class="sticky-buttons-flex" (click)="next()">
            <span *ngIf="!isEdit() || isActivation()">{{'NEW_AD.STEP_USER.PUBLISH' | translate}}</span>
            <span *ngIf="isEdit() && !isActivation()">{{'NEW_AD.STEP_USER.EDIT' | translate}}</span>
            <ion-icon slot="end" name="send"></ion-icon>
        </ion-button>
    </div>
</div>
