<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="customBack()" class="custom-back-button">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>FLUSTER</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content role="ad" [forceOverscroll]="true">

    <div class="sticky-container big-screen-content" *ngIf="loaded">
        <div class="sticky-content" padding>
            <h1 text-center padding>{{'ADS.ACTIONS.LIMIT_ADS' | translate}}</h1>

            <h2 text-center *ngIf="isItemShare()">{{'NEW_AD.STEP_LIMITATION.SUB_TITLE_SHARE' | translate}}</h2>

            <h2 text-center *ngIf="isItemFlat()">{{'NEW_AD.STEP_LIMITATION.SUB_TITLE_FLAT' | translate}}</h2>

            <ion-grid class="padding-top-small">
                <ion-row>
                    <ion-col size="12" text-left>
                        <ion-label *ngIf="isItemShare()">{{'NEW_AD.STEP_LIMITATION.AGE_SHARE' | translate}}</ion-label>
                        <ion-label *ngIf="isItemFlat()">{{'NEW_AD.STEP_LIMITATION.AGE_FLAT' | translate}}</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <ion-range [dualKnobs]="true" [pin]="false" [(ngModel)]="ages" [min]="18" [max]="99"
                                   (ionChange)="onAgeChange($event)">
                            <div slot="start">{{ages?.lower}}</div>
                            <div slot="end">{{ages?.upper}}</div>
                        </ion-range>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid id="selectGender" margin-bottom>
                <ion-row>
                    <ion-col size="6" text-left>
                        <ion-item>
                            <ion-checkbox checked="{{male}}" [(ngModel)]="male"
                                          (ionChange)="onGenderChange()"></ion-checkbox>
                            <ion-label>{{'NEW_AD.STEP_LIMITATION.MALE' | translate}}</ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6" text-left>
                        <ion-item>
                            <ion-checkbox checked="{{female}}" [(ngModel)]="female"
                                          (ionChange)="onGenderChange()"></ion-checkbox>
                            <ion-label>{{'NEW_AD.STEP_LIMITATION.FEMALE' | translate}}</ion-label>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

        <div class="sticky-buttons" padding-start padding-end>

            <app-targeted-users [item]="item" [ageMin]="ages?.lower" [ageMax]="ages?.upper"
                                [gender]="item?.userLimitations?.gender"
                                [admin]="true">
            </app-targeted-users>

            <ion-button expand="full" shape="round" (click)="updateAd()">
                {{'ADMIN_APPOINTMENTS.APPOINTMENTS.CONFIRM' | translate}}
                <ion-icon slot="end" name="checkmark"></ion-icon>
            </ion-button>
        </div>
    </div>

    <div class="spinner-loading" padding text-center *ngIf="!loaded">
        <ion-spinner color="primary"></ion-spinner>
    </div>

</ion-content>
