<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>FLUSTER</ion-title>

        <ion-buttons slot="end" *ngIf="imgURI != null">
            <ion-button (click)="zoom(false)">
                <ion-icon src="assets/img/ico_search-minus-white.svg" class="smaller-icon"></ion-icon>
            </ion-button>

            <ion-button (click)="zoom(true)">
                <ion-icon src="assets/img/ico_search-plus-white.svg" class="smaller-icon"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content id="photo-picker" #photoPicker [attr.role]="isAdDisplay ? 'ad' : 'browse'" [class.no-padding]="imgURI != null" class="flex-content" [scrollY]="false">

  <ion-grid *ngIf="imgURI == null" class="flex-grid">
    <ion-row>
      <!-- nothing -->
    </ion-row>

    <ion-row *ngIf="displayImgSelector">
      <ion-col size="6" text-center>
          <app-big-button (clicked)="choosePhoto()" [adDisplay]="isAdDisplay"
                          [bigButtonAds]="true" [bigButtonDisabled]="!isGalleryPicked && isCameraPicked"
                          [icon]="'images'" [label]="'NEW_AD.STEP_PHOTO.FROM_GALLERY'">
          </app-big-button>
      </ion-col>

      <ion-col size="6" text-center>
          <app-big-button (clicked)="takePhoto()" [adDisplay]="isAdDisplay"
                          [bigButtonAds]="true" [bigButtonDisabled]="isGalleryPicked && !isCameraPicked"
                          [icon]="'camera'" [label]="'NEW_AD.STEP_PHOTO.FROM_CAMERA'">
          </app-big-button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!displayImgSelector">
        <ion-col col-12 text-center>
            <ion-spinner ion-text color="primary"></ion-spinner>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <!-- nothing -->

        <!--removeIf(production)-->
        <ion-button fill="outline" (click)="dummyPhoto()" *ngIf="ENV_CORDOVA">Dummy photo</ion-button>
        <!--endRemoveIf(production)-->
      </ion-col>
    </ion-row>
  </ion-grid>

  <div id="preview" *ngIf="imgURI != null" [class.hideImgContent]="!cropperReady">
      <div *ngIf="advanceMode">
        <web-photo-filter (filterLoad)="imageLoaded($event)" src="{{imgURI}}" filter="{{filter}}" keep="true"></web-photo-filter>
      </div>

      <div *ngIf="!advanceMode" id="previewAndroid">
          <img (load)="imageLoadedWithoutFilters()" [src]="imgURI" #imageSrc>
      </div>
  </div>

    <div role="ad" *ngIf="imgURI != null" class="footer">
        <div *ngIf="webGLDetected" id="toolbarFilters" padding-bottom>
            <div scrollX="true" *ngIf="croppedImgFilterSrc != null">
                <div class="filters">
                    <div class="filter">
                        <app-big-button (clicked)="select()" [adDisplay]="true"
                                        [bigButton]="false" [smallButton]="true" [smallButtonAds]="true"
                                        [icon]="'save'">
                        </app-big-button>
                        <ion-label text-nowrap>{{'CORE.SAVE' | translate}}</ion-label>
                    </div>

                    <div class="filter" tappable (click)="applyFilter(null)" [class.filter-selected]="filter == null">
                        <div>
                            <img [src]="croppedImgFilterSrc"/>
                        </div>
                        <ion-label text-nowrap>No Filter</ion-label>
                    </div>

                    <div class="filter" tappable (click)="applyFilter('contrast')" [class.filter-selected]="filter === 'contrast'">
                        <div>
                            <web-photo-filter src="{{croppedImgFilterSrc}}" filter="contrast"></web-photo-filter>
                        </div>
                        <ion-label text-nowrap>Contrast</ion-label>
                    </div>

                    <div class="filter" tappable (click)="applyFilter('saturation')" [class.filter-selected]="filter === 'saturation'">
                        <div>
                            <web-photo-filter src="{{croppedImgFilterSrc}}" filter="saturation"></web-photo-filter>
                        </div>
                        <ion-label text-nowrap>Saturation</ion-label>
                    </div>

                    <div class="filter" tappable (click)="applyFilter('brightness')" [class.filter-selected]="filter === 'brightness'" *ngIf="iOS">
                        <div>
                            <web-photo-filter src="{{croppedImgFilterSrc}}" filter="brightness"></web-photo-filter>
                        </div>
                        <ion-label text-nowrap>Brightness</ion-label>
                    </div>

                    <div class="filter" tappable (click)="applyFilter('technicolor')" [class.filter-selected]="filter === 'technicolor'">
                        <div>
                            <web-photo-filter src="{{croppedImgFilterSrc}}" filter="technicolor"></web-photo-filter>
                        </div>
                        <ion-label text-nowrap>Technicolor</ion-label>
                    </div>

                    <div class="filter" tappable (click)="applyFilter('polaroid')" [class.filter-selected]="filter === 'polaroid'">
                        <div>
                            <web-photo-filter src="{{croppedImgFilterSrc}}" filter="polaroid"></web-photo-filter>
                        </div>
                        <ion-label text-nowrap>Polaroid</ion-label>
                    </div>

                    <div class="filter" tappable (click)="applyFilter('cookie')" [class.filter-selected]="filter === 'cookie'" *ngIf="iOS">
                        <div>
                            <web-photo-filter src="{{croppedImgFilterSrc}}" filter="cookie"></web-photo-filter>
                        </div>
                        <ion-label text-nowrap>Cookie</ion-label>
                    </div>

                    <div class="filter" tappable (click)="applyFilter('vintage')" [class.filter-selected]="filter === 'vintage'">
                        <div>
                            <web-photo-filter src="{{croppedImgFilterSrc}}" filter="vintage"></web-photo-filter>
                        </div>
                        <ion-label text-nowrap>Vintage</ion-label>
                    </div>

                    <div class="filter" tappable (click)="applyFilter('sepia')" [class.filter-selected]="filter === 'sepia'">
                        <div>
                            <web-photo-filter src="{{croppedImgFilterSrc}}" filter="sepia"></web-photo-filter>
                        </div>
                        <ion-label text-nowrap>Sepia</ion-label>
                    </div>

                    <div class="filter" tappable (click)="applyFilter('greyscale')" [class.filter-selected]="filter === 'greyscale'" *ngIf="iOS">
                        <div>
                            <web-photo-filter src="{{croppedImgFilterSrc}}" filter="greyscale"></web-photo-filter>
                        </div>
                        <ion-label text-nowrap>Greyscale</ion-label>
                    </div>

                    <div class="filter" tappable (click)="applyFilter('bgr')" [class.filter-selected]="filter === 'bgr'" *ngIf="iOS">
                        <div>
                            <web-photo-filter src="{{croppedImgFilterSrc}}" filter="bgr"></web-photo-filter>
                        </div>
                        <ion-label text-nowrap>Blue</ion-label>
                    </div>

                    <div class="filter" tappable (click)="applyFilter('hue')" [class.filter-selected]="filter === 'hue'" *ngIf="iOS">
                        <div>
                            <web-photo-filter src="{{croppedImgFilterSrc}}" filter="hue"></web-photo-filter>
                        </div>
                        <ion-label text-nowrap>Green</ion-label>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!webGLDetected && cropperReady" role="buttons" class="actions-buttons" text-center>
            <ion-button expand="full" shape="round" (click)="select()" padding-start padding-end>
                {{'CORE.SAVE' | translate}}
                <ion-icon slot="end" name="save"></ion-icon>
            </ion-button>
        </div>
    </div>

</ion-content>
