@import "media-queries";
@import "mixins";

.sticky-container {
  height: 100%;
}

.sticky-content {
  min-height: 100%;
  height: auto;
  margin-bottom: -118px;

  &:after {
    content: "";
    display: block;
  }
}

.sticky-buttons, .sticky-content:after {
  height: 118px;
}

@include iphoneX {
  .sticky-content {
    margin-bottom: -136px;
  }

  .sticky-buttons, .sticky-content:after {
    height: 136px;
  }

  .flex-content ion-row.flex-end ion-col {
    padding-bottom: 18px;
  }
}

.sticky-buttons-flex {
  margin-bottom: 28px;
  width: 100%;
}

.sticky-buttons {
  ion-button {
    width: 100%;
    margin-bottom: 16px;
  }

  div.spacer {
    min-height: 32px;
    height: 32px;
  }
}
