
// Fluster variables

$fluster-peach1: #feb79c;
$fluster-peach2: #ff8ea3;
$fluster-peach3: #ff65a9;

$fluster-date-picker-triangle: #ff7aa6;

$fluster-grey-blue: #575470;
$fluster-dark-blue: #2d294c;
$fluster-midnight-blue: #221f39;

$fluster-light-grey: #f7f7f7;
$fluster-medium-grey: #cbcbcb;
$fluster-dark-grey: #737373;

$facebook: #3b5998;
$twitter: #00aced;
$linkedin: #0077b5;

$google: #4285F4;

$fluster-danger: #f53d3d;

$fluster-superstar: #2cb4ca;

$chat-message-read: #34b7f1;

$fluster-border-radius: 4px;

// Fonts variables
$fluster-text-small: 1.2rem;
$fluster-text-normal: 1.4rem;
$fluster-text-big: 1.8rem;

$font-weight-light: 300;
$font-weight-normal: normal;
$font-weight-bold: 700;

// Google map
$google-map-height: 250px;

