// Product popover

ion-popover {
  &[class*="sc-ion-popover"] {
    div.popover-content {
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%, -50%) !important;

      width: 80%;
      overflow: initial;
    }
  }

  &[class*="sc-ion-popover-ios"] {
    #free-product {
      #free-product-description {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }
  }

  &[class*="sc-ion-popover-md"] {
    #free-product {
      #free-product-description {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
      }
    }
  }
}