// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  font-size: 62.5%;
  text-size-adjust: 100%;

  /** primary **/
  --ion-color-primary: #ff65a9;
  --ion-color-primary-rgb: 255,101,169;
  --ion-color-primary-contrast: white;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #e05995;
  --ion-color-primary-tint: #ff74b2;

  /** secondary **/
  --ion-color-secondary: #ff8ea3;
  --ion-color-secondary-rgb: 255,142,163;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #e07d8f;
  --ion-color-secondary-tint: #ff99ac;

  /** tertiary **/
  --ion-color-tertiary: #feb79c;
  --ion-color-tertiary-rgb: 254,183,156;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #e0a189;
  --ion-color-tertiary-tint: #febea6;

  /** success **/
  --ion-color-success: #ff65a9;
  --ion-color-success-rgb: 255,101,169;
  --ion-color-success-contrast: white;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #e05995;
  --ion-color-success-tint: #ff74b2;

  /** warning **/
  --ion-color-warning: #feb79c;
  --ion-color-warning-rgb: 254,183,156;
  --ion-color-warning-contrast: white;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0a189;
  --ion-color-warning-tint: #febea6;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #221f39;
  --ion-color-dark-rgb: 34,31,57;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e1b32;
  --ion-color-dark-tint: #38354d;

  /** medium **/
  --ion-color-medium: #2d294c;
  --ion-color-medium-rgb: 45,41,76;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #282443;
  --ion-color-medium-tint: #423e5e;

  /** light **/
  --ion-color-light: #575470;
  --ion-color-light-rgb: 87,84,112;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255,255,255;
  --ion-color-light-shade: #4d4a63;
  --ion-color-light-tint: #68657e;

  --ion-font-family: "Lato";

  ion-item {
    --border-color: transparent;
  }
}

* {
  // Fonts
  font-family: "Lato";
  --ion-font-family: "Lato";
}

