<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>

        <ion-title>FLUSTER</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content role="ad" [forceOverscroll]="true">

    <div class="sticky-container big-screen-content" *ngIf="loaded && item">
        <div class="sticky-content" padding>
            <h1 text-center padding>{{'ADMIN_APPOINTMENTS.EXTEND.TITLE' | translate}}</h1>

            <h2 text-center *ngIf="!itemEndThePast">{{ 'ADMIN_APPOINTMENTS.EXTEND.EXPIRE_SOON' | translate:{when: extendDateDisplay} }}</h2>
            <h2 text-center *ngIf="itemEndThePast">{{ 'ADMIN_APPOINTMENTS.EXTEND.EXPIRED' | translate:{when: extendDateDisplay} }}</h2>

            <ion-grid class="padding-top-average">
                <ion-row>
                    <ion-col col-12>
                        <ion-list>
                            <ion-radio-group [(ngModel)]="extendItem">
                                <ion-item>
                                    <ion-label>{{'CORE.YES' | translate}}</ion-label>
                                    <ion-radio checked="true" value="true"></ion-radio>
                                </ion-item>

                                <ion-item>
                                    <ion-label>{{'CORE.NO' | translate}}</ion-label>
                                    <ion-radio value="false"></ion-radio>
                                </ion-item>
                            </ion-radio-group>
                        </ion-list>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

        <div class="sticky-buttons" padding-start padding-end>
            <div class="spacer"></div>

            <ion-button expand="full" shape="round" (click)="updateAd()">
                {{'ADMIN_APPOINTMENTS.APPOINTMENTS.CONFIRM' | translate}}
                <ion-icon slot="end" name="checkmark"></ion-icon>
            </ion-button>
        </div>

        <div class="spinner-loading" padding text-center *ngIf="!loaded">
            <ion-spinner color="primary"></ion-spinner>
        </div>
    </div>

</ion-content>
