<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="customBack()" class="custom-back-button">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>FLUSTER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content role="ad" [scrollY]="false">

  <div ion-fixed *ngIf="loaded && item != null" id="adminAppointmentsCalendar">
    <div class="big-screen-content admin-calendar-container" *ngIf="loaded">
      <h1 padding-start padding-end text-center class="padding-top-very-small">{{'ADMIN_APPOINTMENTS.APPOINTMENTS.TITLE' | translate}}</h1>

      <h2 padding-start padding-end text-center>{{'ADMIN_APPOINTMENTS.APPOINTMENTS.SUB_TITLE' | translate}}</h2>

      <app-pick-ads-appointments [adminScheduledDates]="adminScheduledDates"  (notifiySelected)="select($event)"></app-pick-ads-appointments>

      <div text-center padding margin-bottom class="date-picker-actions">
        <ion-button expand="full" shape="round" (click)="updateAppointment()">
          {{'ADMIN_APPOINTMENTS.APPOINTMENTS.CONFIRM' | translate}}
          <ion-icon slot="end" name="checkmark"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>

  <div class="spinner-loading" padding text-center *ngIf="!loaded">
    <ion-spinner color="primary"></ion-spinner>
  </div>

</ion-content>
