<div padding-start padding-end class="new-ad-container big-screen-content">
    <div class="new-ad-content" (swipe)="swipeSlide($event)">
        <h1 text-center class="padding-top-big">{{'NEW_AD.STEP_LIMITATION.TITLE' | translate}}</h1>

        <h2 text-center *ngIf="isItemShare()">{{'NEW_AD.STEP_LIMITATION.SUB_TITLE_SHARE' | translate}}</h2>

        <h2 text-center *ngIf="isItemFlat()">{{'NEW_AD.STEP_LIMITATION.SUB_TITLE_FLAT' | translate}}</h2>

        <ion-grid class="padding-top-small">
            <ion-row>
                <ion-col size="12" text-left>
                    <ion-label *ngIf="isItemShare()">{{'NEW_AD.STEP_LIMITATION.AGE_SHARE' | translate}}</ion-label>
                    <ion-label *ngIf="isItemFlat()">{{'NEW_AD.STEP_LIMITATION.AGE_FLAT' | translate}}</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-range [dualKnobs]="true" [pin]="false" [(ngModel)]="ages" [min]="18" [max]="99" (ionChange)="onAgeChange($event)">
                        <div slot="start">{{ages?.lower}}</div>
                        <div slot="end">{{ages?.upper}}</div>
                    </ion-range>
                </ion-col>
            </ion-row>
        </ion-grid>


        <ion-grid id="selectGender" margin-bottom>
            <ion-row>
                <ion-col size="6" text-left>
                    <ion-item>
                        <ion-checkbox checked="{{male}}" [(ngModel)]="male" (ionChange)="onGenderChange()"></ion-checkbox>
                        <ion-label>{{'NEW_AD.STEP_LIMITATION.MALE' | translate}}</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size="6" text-left>
                    <ion-item>
                        <ion-checkbox checked="{{female}}" [(ngModel)]="female" (ionChange)="onGenderChange()"></ion-checkbox>
                        <ion-label>{{'NEW_AD.STEP_LIMITATION.FEMALE' | translate}}</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div class="new-ad-buttons" (swipe)="swipeSlide($event)">

        <app-targeted-users #targetedUsersLimitation [item]="newItem"
                        [msgLocation]="false">
        </app-targeted-users>

        <ion-button expand="full" shape="round" class="new-ad-buttons-flex" (click)="next()" [disabled]="!isNextAllowed()">
            <span *ngIf="!isEdit() || isActivation()">{{'NEW_AD.STEP_USER.PUBLISH' | translate}}</span>
            <span *ngIf="isEdit() && !isActivation()">{{'NEW_AD.STEP_USER.EDIT' | translate}}</span>
        </ion-button>
    </div>
</div>
