.no-items-div  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#displayNoAddressFilter {
    h2 {
        max-width: 20rem;
    }
}