<div padding-start padding-end class="sticky-container big-screen-content">
    <div class="sticky-content" (swipe)="swipeSlide($event)">
        <h1 text-center class="padding-top-big">
            {{'NEW_AD.STEP_SIZE.TITLE' | translate}}
        </h1>

        <h2 text-center *ngIf="isItemFlat()">{{'NEW_AD.STEP_SIZE.SUB_TITLE_FLAT' | translate}}</h2>

        <h2 text-center *ngIf="isItemShare()">{{'NEW_AD.STEP_SIZE.SUB_TITLE_SHARE' | translate}}</h2>

        <div *ngIf="newItem != null && newItem.itemDetail != null && newItem.attributes != null" [formGroup]="sizeFormGroup">
            <ion-list class="padding-top-small">
                <!-- Rooms in flat -->
                <ion-item *ngIf="!isRoomsSelected()" button (click)="navigateToRoomSelection()" class="fluster-text-input-placeholder">
                    <ion-label>{{'NEW_AD.STEP_SIZE.ROOMS' | translate}}</ion-label>
                </ion-item>

                <ion-item *ngIf="isRoomsSelected()" button (click)="navigateToRoomSelection()">
                    <ion-label>{{newItem.attributes.rooms}} <app-label-singular-plural [value]="newItem.attributes.rooms" [keyPlural]="'SELECT_ATTRIBUTES.ROOMS'" [keySingular]="'SELECT_ATTRIBUTES.ROOM'"></app-label-singular-plural></ion-label>
                </ion-item>

                <!-- Size -->
                <ion-item>
                    <ion-label position="stacked">{{'NEW_AD.STEP_SIZE.SIZE' | translate}}</ion-label>
                    <ion-input type="tel" #size formControlName="sizeValidator" (ionChange)="updateSize(size.value)"></ion-input>
                </ion-item>

                <!-- Bathrooms -->
                <ion-item *ngIf="!isBathroomsSelected()" button (click)="navigateToBathroomsSelection()" class="fluster-text-input-placeholder">
                    <ion-label>{{'NEW_AD.STEP_SIZE.BATHROOMS' | translate}}</ion-label>
                </ion-item>

                <ion-item *ngIf="isBathroomsSelected()" button (click)="navigateToBathroomsSelection()">
                    <ion-label>{{newItem.itemDetail.bathrooms}} <app-label-singular-plural [value]="newItem.itemDetail.bathrooms" [keyPlural]="'SELECT_ATTRIBUTES.BATHROOMS'" [keySingular]="'SELECT_ATTRIBUTES.BATHROOM'"></app-label-singular-plural></ion-label>
                </ion-item>

                <!-- How many people in shared flat -->
                <ion-item *ngIf="isItemShare() && !isFlatmateSelected()" button (click)="navigateToFlatmateSelection()" class="fluster-text-input-placeholder">
                    <ion-label>{{'NEW_AD.STEP_SHARE_SIZE.FLATMATE' | translate}}</ion-label>
                </ion-item>

                <ion-item *ngIf="isItemShare() && isFlatmateSelected()" button (click)="navigateToFlatmateSelection()">
                    <ion-label>{{newItem.itemDetail.flatmate}} <app-label-singular-plural [value]="newItem.itemDetail.flatmate" [keyPlural]="'SELECT_ATTRIBUTES.FLATMATES'" [keySingular]="'SELECT_ATTRIBUTES.FLATMATE'"></app-label-singular-plural></ion-label>
                </ion-item>

                <!-- Flat's floor -->
                <ion-item *ngIf="!isFloorSelected()" button (click)="navigateToFloorSelection()" class="fluster-text-input-placeholder">
                    <ion-label>{{'NEW_AD.STEP_SIZE.FLOOR' | translate}}</ion-label>
                </ion-item>

                <ion-item *ngIf="isFloorSelected()" button (click)="navigateToFloorSelection()">
                    <ion-label><app-display-floor [floor]="newItem.itemDetail.floor"></app-display-floor></ion-label>
                </ion-item>

                <ion-item *ngIf="!isItemShare()" [class.fluster-text-input-placeholder]="!newItem.attributes.furnished">
                    <ion-checkbox slot="start" [(ngModel)]="newItem.attributes.furnished" checked="{{newItem.attributes.furnished}}" [ngModelOptions]="{standalone: true}"></ion-checkbox>
                    <ion-label>{{'NEW_AD.STEP_SIZE.FURNISHED' | translate}}</ion-label>
                </ion-item>
            </ion-list>
        </div>
    </div>

    <div class="sticky-buttons" (swipe)="swipeSlide($event)">

        <app-targeted-users [item]="newItem"
                        [rooms]="newItem.attributes.rooms"
                        [furnished]="newItem.attributes.furnished"
                        [msgLocation]="false">
        </app-targeted-users>

        <ion-button expand="full" shape="round" class="sticky-buttons-flex" (click)="next()" [disabled]="!isNextAllowed()">
            {{'CORE.NEXT' | translate}}
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
    </div>
</div>
