<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
          <app-navbar-notification [browse]="true" [displayInMenu]="false"></app-navbar-notification>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-title>{{'MENU.BROWSE.MY_BOOKMARKS' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content role="browse" [fullscreen]="true">

  <app-content-browse-notification [displayOnInit]="false"></app-content-browse-notification>

  <app-no-items [items]="itemCards" [loading]="!loaded" [label]="'MY_BOOKMARKS.NO_BOOKMARKS'"></app-no-items>

  <div *ngIf="hasItems()" class="big-screen-content">
    <ion-list #slidingList>
      <ion-item-sliding *ngFor="let itemCard of itemCards; let i=index;">
        <ion-item class="my-bookmarks item-no-background" [class.unavailable]="!itemStillAvalaible(itemCard.item) || itemEnded(itemCard)" button (click)="navigateToDetail(itemCard, i, '/my-bookmarks-items')">
            <ion-avatar slot="start" class="big-avatar">
                <app-user-profile-img-list *ngIf="isItemShare(itemCard)" [facebook]="itemCard.item.user.facebook" [google]="itemCard.item.user.google" [starred]="isItemStarred(itemCard)"></app-user-profile-img-list>
                <app-image-loader *ngIf="!isItemShare(itemCard)" [src]="RESOURCES.AWS.S3_URL + '/' + itemCard.item.source + '/' + itemCard.item.hashId + '/' + itemCard.item.mainPhoto"></app-image-loader>
            </ion-avatar>

            <ion-label>
              <h1 text-nowrap>{{itemCard.item.user.facebook.firstName}}</h1>

              <app-item-summary [item]="itemCard.item" [displayType]="false" [bookmarkDisplay]="true"></app-item-summary>

              <p *ngIf="!itemStillAvalaible(itemCard.item) || itemEnded(itemCard)" class="not-published-anymore">{{'MY_BOOKMARKS.ITEM_NOT_PUBLISHED_ANYMORE' | translate}}</p>
            </ion-label>
        </ion-item>

        <ion-item-options side="end" class="my-bookmarks-options">
          <ion-item-option expandable class="secondary-sliding" (click)="dislike(itemCard, i)">
            <ion-icon name="trash"></ion-icon>
            <span>{{'MY_BOOKMARKS.ACTIONS.DISLIKE' | translate}}</span>
          </ion-item-option>

          <ion-item-option expandable class="primary-sliding" *ngIf="itemStillAvalaible(itemCard.item) && !itemEnded(itemCard)" (click)="navigateToAppointment(itemCard, i)">
            <ion-icon name="send"></ion-icon>
            <span>{{'MY_BOOKMARKS.ACTIONS.VIEWING' | translate}}</span>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-infinite-scroll *ngIf="hasItems() && !isLastPageReached()"
                         (ionInfinite)="findNextItems($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

</ion-content>
