<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>FLUSTER</ion-title>

        <ion-buttons slot="end" *ngIf="hasCurrent()">
            <ion-button (click)="selectAndNavigate(null)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding [attr.role]="isAdDisplay ? 'ad' : 'browse'">

    <ion-searchbar (ionInput)="onSearchInput()" [formControl]="searchControl"
                   autocomplete="on" autocorrect="on" spellcheck="true"
                   placeholder="{{'SEARCH_LOCATION.PLACEHOLDER' | translate}}" margin-bottom
                   clearIcon="close-circle" searchIcon="search"></ion-searchbar>

    <div *ngIf="searching" text-center margin-bottom>
        <ion-spinner ion-text color="primary"></ion-spinner>
    </div>

    <ion-list *ngIf="!modeWork">
        <ion-item *ngFor="let result of results">
            <ion-label tappable (click)="selectAndNavigate(result.name)" text-wrap>
                {{result.name}}
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="modeWork">
        <ion-item *ngFor="let result of results">
            <ion-label tappable (click)="selectAndNavigate(result._id.employer)" text-wrap>
                {{result._id.employer}}
            </ion-label>
        </ion-item>

        <ion-item *ngIf="!hasFullWorkMatch && searchTerm">
            <ion-label tappable (click)="selectAndNavigate(searchTerm)" text-wrap>
                {{searchTerm}}
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>
