@import "../../../../theme/fluster-variables";

.targetedUsers {
    padding-bottom: 8px;
}

.targetedUsers * {
    font-size: $fluster-text-normal;
    font-weight: $font-weight-light;

    &.targetedUsersCount {
        font-weight: $font-weight-normal;
    }
}

.targetedUsers ion-icon {
    font-size: $fluster-text-big;
    vertical-align: middle;
}

.targetedUsersCount {
    color: $fluster-peach3;
}
