@import "../../../../theme/fluster-variables";
@import "../../../../theme/media-queries";
@import "../../../../theme/mixins";

:host {
    width: 100%;
    min-width: 100%;
}

div.user-container {
    width: 100%;
    height: 100%;

    div.user-summary {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;

        @include fluster-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));

        &.starred {
            @include fluster-linear-gradient(to bottom, transparent, rgba($fluster-superstar, 0.7));
        }

        ion-row {
            min-height: 80px;

            ion-col:first-child {
                div:first-child {
                    margin-left: 2px;
                }
            }
        }
    }

}
